<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-2 border p-4">
  <a href="/" class="btn btn-primary">Home</a>
  <h3 class="text-success mt-2">{{book.title}}</h3>
  <p>ID: {{book.id}}</p>
  <h4>Description:</h4> <p>{{book.desc}}</p>
  <h5>Authors:</h5>
  <ul class="list-group">
    {% for author in book.authors.all %}
  <li class="list-group-item">{{author.first_name}} {{author.last_name}}</li>
    {% endfor %}
  </ul>
  <form action="/select_book" method="POST">
    {% csrf_token %}
    <select name="authors" class="form-control-sm">
      {% for author in authors %}
      {% if author not in book.authors.all %}
      <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
      {% endif %}
      {% endfor %}
    </select>
    <button class="btn btn-primary">Add</button>
  </form>
  </div>
</body>
</html>