<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Single Author Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar bg-info p-3 text-white display-4">Author Information
  </nav>
  <a href="/authors">Back To Authors</a>
  <div class="container border mt-3 p-2">
  <h3>{{single_author.first_name}} {{single_author.last_name}}</h3>
  <h6>ID: {{single_author.id}}</h6>
  <h4 class="text-info mt-2">Notes:</h4>
  <p class="lead border p-3">{{single_author.notes}}</p>
  <h6 class="mt-2">Books:</h6>
  <ul class="list-group">
    {% for book in single_author.books.all%}
    <li class="list-group-item">{{book.title}}</li>
    {% endfor%}
  </ul>
  <form action="/add_book" method="POST">
    {% csrf_token %}
    <select name="book" class="form-control-sm">
      {% for book in books %}
      {% if book not in single_author.books.all %}
      <option value="{{book.id}}">{{book.title}}</option>
      {% endif %}
      {% endfor %}
    </select>
    <button class="btn btn-info btn-sm">Add</button>
  </form>
  </div>
</body>
</html>